.button {
    background-color:  #ffc107;; 
    color: rgb(10, 9, 9); /* Black text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%; /* Make the button stretch across the full width of its container */
    margin: 0 auto; /* Center the button horizontally */
  }
  
  .button:hover {
    background-color:  #d3a007;; 
  }
  
  .button:disabled {
    background-color: #b0c4de; /* Light gray when disabled */
    cursor: not-allowed; /* Change cursor when disabled */
  }
  